@charset "UTF-8";

header {
    padding: 2.5rem 1.25rem;
    background-position: bottom;
}

header h1 {
    font-size: 2rem;
}

header p, h1 {
    text-align: left;
}

header button {
    max-width: none !important;
    width: 95%;
}

#windows {
    margin-bottom: 1rem;
}

/* Início das Configurações do Main */

.normal-content {
    flex-direction: column; 
    text-align: center; 
    align-items: center;
    padding: 2.5rem 1.25rem;
}

.normal-content div {
    width: 100%; 
    text-align: left;
    max-width: none; 
}

.normal-content h2 {
    font-size: 1.8rem;
    padding-top: 0; 
}

.normal-content p {
    font-size: 1rem; 
    padding-top: 1.25rem; 
}

.expanded-content {
    padding: 2.5rem 1.25rem;
    text-align: left;
}

.expanded-content h1 {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 0.675rem;
}

.expanded-content p {
    margin-bottom: 1.56rem; 
}

.expanded-content img {
    max-width: 105%;
}

.alternative .normal-content {
    flex-direction: column-reverse;
}